
p, .icon{
    color:  #34CD9E;
  }
  .icon{
    font-size: 42px;
    margin: auto;
  
  }
  .logo{
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: auto;
  }
  .card{
    border: none;
  }